
<h1>agregar Products</h1>
<div>
    <form id="form">
        <label>Title:</label><input type="text" id="title" name="title"> <br><br>
        <label>Descriptcion:</label><input type="text" id="description" name="description"><br><br>
        <label>Code:</label><input type="number" id="code" name="code"><br><br>
        <label>Price:</label><input type="number" id="price" name="price"><br><br>
        <label>Stock:</label><input type="number" id="stock" name="stock"><br><br>
        <label>Category</label><input type="text" id="category" name="category"><br><br>
        <label>Thumbnails:</label><input type="text" id="thumbnails" name="thumbnails"><br><br>
        <input type="submit" value="listo"><br>

    </form>
    <div>
        <div id="products"></div>
    </div>

</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>